<div class="container"
    fxFlex 
    fxLayout="row wrap"
    fxLayoutAlign="center center"
>
<mat-card *ngFor="let sub of subscriptions" fxFlex="30">
    <mat-card-header>
        <h3>{{sub.name}}</h3>
    </mat-card-header>
    <mat-card-content>
        <img src={{sub.image}} alt={{sub.name}} height="100px" >
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href={{sub.subUrl}}>Subscribe</a>
        <a mat-button href={{sub.unsubUrl}}>Unsubscribe</a>
    </mat-card-actions>
</mat-card>
</div>